<template name="_sample_filter">
  
  <div class="row">
    <div class="small-6 columns">
      <p>Filter: {{frequency}} Hz, {{slope}} dB/octave </p>
    </div>

    <div class="small-6 columns">
      <input class="frequency" type="range">
    </div>

  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <select class="slope">
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="36">36</option>
        <option value="48">48</option>
      </select>
    </div>
  </div>

</template>