<template name="_sample">

  <h3> {{sample._id}} (sound id: {{sample.soundId}}) </h3>
  <p>start time: {{sample.startTime}}</p>
  <p>duration: {{sample.duration}}</p>


  {{#if Template.subscriptionsReady}}

    <div class="row">
      <div class="small-6 columns">
        <div class="fade" data-fade-type="in">{{>_sample_fade_curve sample.fades.in}}</div>
      </div>

      <div class="small-6 columns">
        <div class="fade" data-fade-type="out">{{>_sample_fade_curve sample.fades.out}}</div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="filter" data-filter-type="highPass">{{>_sample_filter sample.filters.highPass}}</div>
        <div class="filter" data-filter-type="lowPass">{{>_sample_filter sample.filters.lowPass}}</div>
      </div>

      <div class="small-6 columns">
        <button class="trigger {{#unless sampleBufferLoaded}} secondary {{/unless}}"> trigger </button>
      </div>
    </div>

    <div class="row">
      {{>_sample_edit sample=sample soundPromise=soundPromise}}
    </div>
  {{/if}}
  
</template>