<template name="_user_drumMachines">

  <div class="small-12 columns">
    <h1>Drum Machines</h1>
    <button class="new-drum-machine">New Drum Machine</button>
  </div>


  <div class="small-6 columns">
    <ul class="user-drum-machines">
      {{#each userDrumMachines}}
        <li> <a href="/#" class="select-drum-machine">{{#if name}} {{name}} {{else}} {{_id}} {{/if}}</a> <input type="submit" value="remove drum machine" class="remove-drum-machine"> </li>    
      {{/each}}
    </ul>
  </div>

  <div class="small-6 columns">
    {{#if queryParam 'drumMachine'}}
      {{#with queryParam 'drumMachine'}}
        {{>_drumMachine drumMachineId=this}}
      {{/with}}
    {{/if}}
  </div>

</template>