<template name="_measure">
<div class="measure">
  <div class="row">
    {{#each beat in measure.beats}}
    <div class="beat small-3 columns" data-index="{{@index}}">
      <div class="row collapse">
        {{#each tick in beat.ticks}}
        <div class="tick small-3 columns" data-index="{{@index}}">                    
          {{#each cell in tick.cells}}
          <div class="row collapse">
            <div class="cell small-12 columns velocity-{{cell.velocity}}" data-velocity="{{cell.velocity}}" data-index="{{@index}}">
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
</template>