<template name="_drumMachine">
{{#if Template.subscriptionsReady}}
{{#if drumMachine}}

  <div class="drum-machine">

    <input class="edit-in-place" type="text" value="{{drumMachine.name}}">
    <p>tempo {{drumMachine.tempo}}</p>
    <p>measureId {{drumMachine.measureId}}</p>
    <p>kitId {{drumMachine.kitId}}</p>

    <!-- todo fix select boxes as their default value is the first option, but clicking on that option doesn't emit change event-->
    <select class="select-drumMachine-kit">
      {{#each kit in userKits}}
        <option value="{{kit._id}}">{{kit._id}} {{kit.name}}</option>
      {{/each}}
    </select>

    <select class="select-drumMachine-measure">
      {{#each measure in userMeasures}}
        <option value="{{measure._id}}">{{measure._id}} {{measure.name}}</option>
      {{/each}}
    </select>


    <button class="play">play</button>
    <button class="pause">pause</button>
    <button class="stop">stop</button>

  </div>
  
{{/if}}
{{/if}}
</template>