<template name="_drumMachine">
  
  <input class="edit-in-place" type="text" value="{{drumMachine.name}}">
  <p>tempo {{drumMachine.tempo}}</p>
  <p>measureId {{drumMachine.measureId}}</p>
  <p>kitId {{drumMachine.kitId}}</p>

  <select class="select-drumMachine-kit">
    {{#each kit in userKits}}
      <option value="{{kit._id}}">{{kit._id}} {{kit.name}}</option>
    {{/each}}
  </select>

  <select class="select-drumMachine-measure">
    {{#each measure in userMeasures}}
      <option value="{{measure._id}}">{{measure._id}} {{measure.name}}</option>
    {{/each}}
  </select>

</template>